

<h1>Getting started</h1>
<p>After you loaded this site (<a style="color:#222222" href="https://github.com/a1300/asch-paperwallet">a1300.github.io</a>) please disconnect your internet connection to be 100<span>&#37;</span> safe. Please don't insert anywhere on the internet your private key. Trust nobody.</p>
<img class="tutorialImage" src="../../assets/disconnect.PNG">

<br/><br/>

<h1>Private Key</h1>
<p>Then input your private key into the field.</p>
<img class="tutorialImage" src="../../assets/input-private-key.PNG">

<br/><br/>

<h1>Generate QR-Code</h1>
<p>Press the button "Generate QR" to generate the <strong>QR-Code</strong></p>
<img class="tutorialImage" src="../../assets/click-generate.PNG">

<br/><br/>

<h1>Print QR-Code</h1>
<p>With the "Print" button you can print the <strong>QR-Code.</strong></p>
<img class="tutorialImage" src="../../assets/print-qr.PNG">

<br/><br/>

<p>After you've printed the paperwallet close the browser and reconnecto to the internet.</p>

<h1>Thanks for using the Asch-Paperwallet!</h1>

<!-- <h1>Very safe way</h1>
<p>clone repository https://github.com/a1300/asch-paperwallet </p>
<p>Then cd into asch-paperwallet/paperwallet and run npm install</p>
<p> After that disable your internet connection</p>
<p>run ``ng build target=production``</p>
<p>After that cd into the folder dist</p>
<p>There you can run "sudo apt-get install http-server" and then start the http-server with http-server -o</p>
 -->
