
#enClosing {
    height: 200px; 
    border: 1px solid black; 
    width: 200px; 
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    align-content: center;
}


qrClass {
    height: 200px;
    width: 200px;
    
    min-height: 200px;
    max-width: 200px;
    background: yellow;
}