<table>
<tbody>
  <tr>
    <th>
      <ngx-qrcode *ngIf="privateKey.length > 0" 
                  [qrc-value] ='privateKey'
                  qrc-errorCorrectionLevel = "H"
                  qrc-element-type='img'>
      </ngx-qrcode>



      <!--testData only-->
      <img style="max-width:180px; max-height:180px;" *ngIf="privateKey === undefined || privateKey === null || privateKey.length === 0" src="../assets/screenshot.png">
        <!-- <div class="after">Test Data</div> -->
    </th>

    <th>
      <div>
        <p class="testData" *ngIf="address === undefined || address === null || address.length === 0">Address: A621bCfRUGxwjEYnNnnam7XoVN9Xqe6PTi</p>
        <p *ngIf="address.length > 0">Address: {{address}}</p>

        <p *ngIf="privateKey.length > 0">Private Key: {{privateKey}}</p>
        <p class="testData" *ngIf="privateKey === undefined || privateKey === null || privateKey === ''">Private Key: kitchen bridge chalk sign jaguar segment company cigar claim squirrel castle spare</p>
      </div>
    </th>

  </tr>
</tbody>
</table>

<privatekeyinput (privateKeyChanged)="getNotificationOnPrivateKeyChanged($event)">
</privatekeyinput>